# Manipulaci√≥n de datos con Pandas

In [1]:
import pandas as pd

In [4]:
series = pd.Series([5,10,15,20,25])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series[3]

20

In [8]:
cad = pd.Series(['h', 'o', 'l', 'a'])
cad

0    h
1    o
2    l
3    a
dtype: object

In [10]:
lista = ['Hola', 'Mundo']
df = pd.DataFrame(lista)
df

       0
0   Hola
1  Mundo

In [13]:
data = {
    'Nombre':['Jose', 'Andres', 'Juan'], 
    'Edad':[25, 18, 23],
    'Pais': ['MX', 'CO', 'BR']
}
df = pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Jose    25   MX
1  Andres    18   CO
2    Juan    23   BR

In [14]:
df[['Nombre']]

   Nombre
0    Jose
1  Andres
2    Juan